{% extends 'base.html.twig' %}

{% block body %}

  <div class="min-height-300 bg-primary position-absolute w-100"></div>
  <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="#" >

      <img src={{asset('asset/img/logo-ct-dark.png')}} class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold">EduCasa</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">



        <li class="nav-item">
          <a class="nav-link " href="{{ path('app_abonnement') }}">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>



        <li class="nav-item">
          <a class="nav-link " href="{{ path('afficheruser') }}">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Gestion des utilisateurs</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="{{ path('afficherformation') }}">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Gestion des formations</span>
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link " href="{{ path('afficheroffre') }}">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Gestion des offres</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="{{ path('afficheroffre') }}">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Gestion des demandes d'acceptation</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="{{ path('afficheroffre') }}">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Gestion des reclamations</span>
          </a>
        </li>


        <li class="nav-item ">
          <a class="nav-link active" href="{{ path('afficherquiz') }}">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Gestion des quizs</span>
          </a>
        </li>
     
    
      </ul>
    </div>

  </aside>
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Tables</li>
          </ol>
          <h6 class="font-weight-bolder text-white mb-0">Tables</h6>
        </nav>
      </div>
    </nav>
    <!-- End Navbar -->


 <div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-end mb-3">
                
                <a href="{{ path('ajoutquiz') }}" class="btn btn-primary">Ajouter un Quiz</a>
            </div>
            <!-- Votre tableau de gestion des quiz et des questions ici -->
        </div>
    </div>
</div>




    
<div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Gestion des Quizs</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nom</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nombre de questions</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Note</th>
                  <th class="text-center text-uppercase text-secondary text-s font-weight-bolder opacity-7">Actions</th>


                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for quiz in quizlist %}
                                        <tr>
                                            <td >
                                              <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                  <h6 class="mb-0 text-sm"> {{ quiz.id }}</h6>
                                                </div>
                                              </div>
                                            </td>
                                            <td>
                                              <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                  <h6 class="mb-0 text-sm">  {{ quiz.nom }}</h6>
                                                </div>
                                              </div>
                                            
                                            </td>
<td>
                                              <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                  <h6 class="mb-0 text-sm">  {{ quiz.nbQuest }}</h6>
                                                </div>
                                              </div>
                                            
                                            </td>

                                            <td>
                                              <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                  <h6 class="mb-0 text-sm">  {{ quiz.note }}</h6>
                                                </div>
                                              </div>
                                            
                                            </td>
                                            
                                            <td>
                                            
                                 
                                             </td>
          <td>
    <a href="#" class="text-danger font-weight-bold text-xs" onclick="return confirmerDelete({{ quiz.id }})">
        <i class="fas fa-trash-alt fa-lg mr-2"></i> <!-- Font Awesome trash icon -->
    </a>
    <a class="text-success font-weight-bold text-xs" href="{{ path('app_modif', {'id': quiz.id}) }}">
        <i class="fas fa-edit fa-lg"></i> <!-- Font Awesome edit icon -->
    </a>                                  
</td>

                                        </tr>
                                        <script>
    function confirmerDelete(id) {
        if (confirm('Are you sure you want to delete this quiz?')) {
            window.location.href = "{{ path('app_delete', {'id': quiz.id}) }}";
        }
        return false;
    }
</script>
                      {% endfor %}

                 
                  </tbody>
                </table>
                                                               

              </div>
            </div>
          </div>
        </div>
      </div>
  
     
    </div>

    <div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-end mb-3">
                
                <a href="{{ path('app_ajout') }}" class="btn btn-primary">Ajouter une Question</a>
            </div>
            <!-- Votre tableau de gestion des quiz et des questions ici -->
        </div>
    </div>
</div>




    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Gestion des Questions</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">ID du Quiz</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Question</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Liste de reponses</th>
                  


                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for question in questionlist %}
                                        <tr>
                                            <td >
                                              <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                  <h6 class="mb-0 text-sm"> {{ question.id }}</h6>
                                                </div>
                                              </div>
                                            </td>
                                            <td >
                                              <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                  <h6 class="mb-0 text-sm"> {{ question.quiz.id }}</h6>
                                                </div>
                                              </div>
                                            </td>
                                            
                                            <td>
                                              <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                  <h6 class="mb-0 text-sm">  {{ question.quest }}</h6>
                                                </div>
                                              </div>
                                            
                                            </td>

                                            




                                             
                                            
                                            <td>
    <a href="#" class="text-danger font-weight-bold text-xs" onclick="return confirmDelete({{ question.id }})">
        <i class="fas fa-trash-alt fa-lg mr-2"></i> <!-- Font Awesome trash icon -->
    </a>
    <a class="text-success font-weight-bold text-xs" href="{{ path('modifquestion', {'id': question.id}) }}">
        <i class="fas fa-edit fa-lg"></i> <!-- Font Awesome edit icon -->
    </a>                                  
</td>
                                        </tr>
                                        <script>
    function confirmDelete(id) {
        if (confirm('Are you sure you want to delete this question?')) {
            window.location.href = "{{ path('delete', {'id': question.id}) }}";
        }
        return false;
    }
</script>
                      {% endfor %}

                 
                  </tbody>
                </table>
                                                               

              </div>
            </div>
          </div>
        </div>
      </div>
  
     
    </div>










    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Gestion des Reponses</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">ID de la question</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Reponse</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Statut</th>
                  


                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for reponse in reponselist %}
                                        <tr>
                                            <td >
                                              <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                  <h6 class="mb-0 text-sm"> {{ reponse.id }}</h6>
                                                </div>
                                              </div>
                                            </td>
                                            <td >
                                              <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                  <h6 class="mb-0 text-sm"> {{ reponse.question.id }}</h6>
                                                </div>
                                              </div>
                                            </td>
                                            
                                            <td>
                                              <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                  <h6 class="mb-0 text-sm">  {{ reponse.rep }}</h6>
                                                </div>
                                              </div>
                                            
                                            </td>

<td>
                                              <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                  <h6 class="mb-0 text-sm">  {{ reponse.statut }}</h6>
                                                </div>
                                              </div>
                                            
                                            </td>


                                             
                                            
                                            <td>
    <a href="#" class="text-danger font-weight-bold text-xs" onclick="return confirmDeleterep({{ reponse.id }})">
        <i class="fas fa-trash-alt fa-lg mr-2"></i> <!-- Font Awesome trash icon -->
    </a>
    <a class="text-success font-weight-bold text-xs" href="{{ path('modifrep', {'id': reponse.id}) }}">
        <i class="fas fa-edit fa-lg"></i> <!-- Font Awesome edit icon -->
    </a>                                  
</td>
                                        </tr>
                                        <script>
    function confirmDeleterep(id) {
        if (confirm('Are you sure you want to delete this reponse?')) {
            window.location.href = "{{ path('deleterep', {'id': reponse.id}) }}";
        }
        return false;
    }
</script>
                      {% endfor %}

                 
                  </tbody>
                </table>
                                                               

              </div>
            </div>
          </div>
        </div>
      </div>
  
     
    </div>
 
    




  </main>
 
  
  
  {% endblock %}